.wobble {
  animation-name: wobble;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.grow {
  transition: 0.2s, color 0.12s;
}

.grow:hover {
  transform: scale3d(1.5, 1.5, 0.3);
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.surprise:checked {
  animation-name: surprise;
  animation-duration: 1.1s;
}

@keyframes surprise {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }
  10% {
    transform: rotate(7deg) scale(1.2, 1.2);
  }
  20% {
    transform: rotate(-7deg) scale(1.2, 1.2);
  }
  30% {
    transform: rotate(7deg) scale(1.2, 1.2);
  }
  40% {
    transform: rotate(-7deg) scale(1.2, 1.2);
  }
  50% {
    transform: rotate(7deg) scale(1.2, 1.2);
  }
  60% {
    transform: rotate(-7deg) scale(1.2, 1.2);
  }
  70% {
    transform: rotate(7deg) scale(1.2, 1.2);
  }
  80% {
    transform: rotate(-7deg) scale(1.2, 1.2);
  }
  90% {
    transform: rotate(7deg) scale(1.2, 1.2);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  15% {
    transform: translateX(-2px) rotate(-5deg);
  }
  30% {
    transform: translateX(2px) rotate(3deg);
  }
  45% {
    transform: translateX(-2px) rotate(-3deg);
  }
  60% {
    transform: translateX(2px) rotate(2deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* Fireworks Thankyou page */
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -57px -10.6666666667px #0037ff, 99px -94.6666666667px #00ccff,
      -95px -165.6666666667px #ff005e, -175px -26.6666666667px #ffb700,
      -20px -71.6666666667px #00eaff, 112px 10.3333333333px #e1ff00,
      140px -119.6666666667px #eeff00, 212px 1.3333333333px #ffc400,
      -47px -153.6666666667px #ffc400, -24px -334.6666666667px #ff00c4,
      -215px -333.6666666667px #7300ff, -220px -270.6666666667px #00ff3c,
      246px -181.6666666667px #e6ff00, 9px 17.3333333333px #7300ff,
      33px -168.6666666667px #00ffe1, -68px -274.6666666667px #00ffbf,
      94px -18.6666666667px #aeff00, 126px -317.6666666667px #009dff,
      -208px -216.6666666667px #ff00e1, 188px -248.6666666667px #006aff,
      -20px -5.6666666667px #0011ff, -159px -384.6666666667px #ff0022,
      -246px -410.6666666667px #ff0040, 92px -118.6666666667px #0099ff,
      193px -81.6666666667px #d9ff00, 67px 71.3333333333px #00aaff,
      113px -77.6666666667px #5900ff, 59px -299.6666666667px #ff0059,
      7px -133.6666666667px #44ff00, 128px -138.6666666667px #002bff,
      -208px -353.6666666667px #00ff1a, 14px 53.3333333333px #62ff00,
      180px -361.6666666667px #004dff, 66px -415.6666666667px #b7ff00,
      61px 63.3333333333px #ff0084, -240px -327.6666666667px #eaff00,
      172px -79.6666666667px #002fff, 226px 31.3333333333px #00ff88,
      56px -221.6666666667px #00ff99, -53px -181.6666666667px #00ff09,
      -99px 6.3333333333px #91ff00, -149px 35.3333333333px #00ff4d,
      -95px -313.6666666667px #ff002f, -90px 77.3333333333px #62ff00,
      -41px -224.6666666667px #ff00c4, -234px -46.6666666667px #73ff00,
      101px -288.6666666667px #bfff00, 122px -298.6666666667px #6a00ff,
      175px 40.3333333333px red, -230px -193.6666666667px #0051ff,
      81px -330.6666666667px #ff9500;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -57px -10.6666666667px #0037ff, 99px -94.6666666667px #00ccff,
      -95px -165.6666666667px #ff005e, -175px -26.6666666667px #ffb700,
      -20px -71.6666666667px #00eaff, 112px 10.3333333333px #e1ff00,
      140px -119.6666666667px #eeff00, 212px 1.3333333333px #ffc400,
      -47px -153.6666666667px #ffc400, -24px -334.6666666667px #ff00c4,
      -215px -333.6666666667px #7300ff, -220px -270.6666666667px #00ff3c,
      246px -181.6666666667px #e6ff00, 9px 17.3333333333px #7300ff,
      33px -168.6666666667px #00ffe1, -68px -274.6666666667px #00ffbf,
      94px -18.6666666667px #aeff00, 126px -317.6666666667px #009dff,
      -208px -216.6666666667px #ff00e1, 188px -248.6666666667px #006aff,
      -20px -5.6666666667px #0011ff, -159px -384.6666666667px #ff0022,
      -246px -410.6666666667px #ff0040, 92px -118.6666666667px #0099ff,
      193px -81.6666666667px #d9ff00, 67px 71.3333333333px #00aaff,
      113px -77.6666666667px #5900ff, 59px -299.6666666667px #ff0059,
      7px -133.6666666667px #44ff00, 128px -138.6666666667px #002bff,
      -208px -353.6666666667px #00ff1a, 14px 53.3333333333px #62ff00,
      180px -361.6666666667px #004dff, 66px -415.6666666667px #b7ff00,
      61px 63.3333333333px #ff0084, -240px -327.6666666667px #eaff00,
      172px -79.6666666667px #002fff, 226px 31.3333333333px #00ff88,
      56px -221.6666666667px #00ff99, -53px -181.6666666667px #00ff09,
      -99px 6.3333333333px #91ff00, -149px 35.3333333333px #00ff4d,
      -95px -313.6666666667px #ff002f, -90px 77.3333333333px #62ff00,
      -41px -224.6666666667px #ff00c4, -234px -46.6666666667px #73ff00,
      101px -288.6666666667px #bfff00, 122px -298.6666666667px #6a00ff,
      175px 40.3333333333px red, -230px -193.6666666667px #0051ff,
      81px -330.6666666667px #ff9500;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -57px -10.6666666667px #0037ff, 99px -94.6666666667px #00ccff,
      -95px -165.6666666667px #ff005e, -175px -26.6666666667px #ffb700,
      -20px -71.6666666667px #00eaff, 112px 10.3333333333px #e1ff00,
      140px -119.6666666667px #eeff00, 212px 1.3333333333px #ffc400,
      -47px -153.6666666667px #ffc400, -24px -334.6666666667px #ff00c4,
      -215px -333.6666666667px #7300ff, -220px -270.6666666667px #00ff3c,
      246px -181.6666666667px #e6ff00, 9px 17.3333333333px #7300ff,
      33px -168.6666666667px #00ffe1, -68px -274.6666666667px #00ffbf,
      94px -18.6666666667px #aeff00, 126px -317.6666666667px #009dff,
      -208px -216.6666666667px #ff00e1, 188px -248.6666666667px #006aff,
      -20px -5.6666666667px #0011ff, -159px -384.6666666667px #ff0022,
      -246px -410.6666666667px #ff0040, 92px -118.6666666667px #0099ff,
      193px -81.6666666667px #d9ff00, 67px 71.3333333333px #00aaff,
      113px -77.6666666667px #5900ff, 59px -299.6666666667px #ff0059,
      7px -133.6666666667px #44ff00, 128px -138.6666666667px #002bff,
      -208px -353.6666666667px #00ff1a, 14px 53.3333333333px #62ff00,
      180px -361.6666666667px #004dff, 66px -415.6666666667px #b7ff00,
      61px 63.3333333333px #ff0084, -240px -327.6666666667px #eaff00,
      172px -79.6666666667px #002fff, 226px 31.3333333333px #00ff88,
      56px -221.6666666667px #00ff99, -53px -181.6666666667px #00ff09,
      -99px 6.3333333333px #91ff00, -149px 35.3333333333px #00ff4d,
      -95px -313.6666666667px #ff002f, -90px 77.3333333333px #62ff00,
      -41px -224.6666666667px #ff00c4, -234px -46.6666666667px #73ff00,
      101px -288.6666666667px #bfff00, 122px -298.6666666667px #6a00ff,
      175px 40.3333333333px red, -230px -193.6666666667px #0051ff,
      81px -330.6666666667px #ff9500;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -57px -10.6666666667px #0037ff, 99px -94.6666666667px #00ccff,
      -95px -165.6666666667px #ff005e, -175px -26.6666666667px #ffb700,
      -20px -71.6666666667px #00eaff, 112px 10.3333333333px #e1ff00,
      140px -119.6666666667px #eeff00, 212px 1.3333333333px #ffc400,
      -47px -153.6666666667px #ffc400, -24px -334.6666666667px #ff00c4,
      -215px -333.6666666667px #7300ff, -220px -270.6666666667px #00ff3c,
      246px -181.6666666667px #e6ff00, 9px 17.3333333333px #7300ff,
      33px -168.6666666667px #00ffe1, -68px -274.6666666667px #00ffbf,
      94px -18.6666666667px #aeff00, 126px -317.6666666667px #009dff,
      -208px -216.6666666667px #ff00e1, 188px -248.6666666667px #006aff,
      -20px -5.6666666667px #0011ff, -159px -384.6666666667px #ff0022,
      -246px -410.6666666667px #ff0040, 92px -118.6666666667px #0099ff,
      193px -81.6666666667px #d9ff00, 67px 71.3333333333px #00aaff,
      113px -77.6666666667px #5900ff, 59px -299.6666666667px #ff0059,
      7px -133.6666666667px #44ff00, 128px -138.6666666667px #002bff,
      -208px -353.6666666667px #00ff1a, 14px 53.3333333333px #62ff00,
      180px -361.6666666667px #004dff, 66px -415.6666666667px #b7ff00,
      61px 63.3333333333px #ff0084, -240px -327.6666666667px #eaff00,
      172px -79.6666666667px #002fff, 226px 31.3333333333px #00ff88,
      56px -221.6666666667px #00ff99, -53px -181.6666666667px #00ff09,
      -99px 6.3333333333px #91ff00, -149px 35.3333333333px #00ff4d,
      -95px -313.6666666667px #ff002f, -90px 77.3333333333px #62ff00,
      -41px -224.6666666667px #ff00c4, -234px -46.6666666667px #73ff00,
      101px -288.6666666667px #bfff00, 122px -298.6666666667px #6a00ff,
      175px 40.3333333333px red, -230px -193.6666666667px #0051ff,
      81px -330.6666666667px #ff9500;
  }
}
@keyframes bang {
  to {
    box-shadow: -57px -10.6666666667px #0037ff, 99px -94.6666666667px #00ccff,
      -95px -165.6666666667px #ff005e, -175px -26.6666666667px #ffb700,
      -20px -71.6666666667px #00eaff, 112px 10.3333333333px #e1ff00,
      140px -119.6666666667px #eeff00, 212px 1.3333333333px #ffc400,
      -47px -153.6666666667px #ffc400, -24px -334.6666666667px #ff00c4,
      -215px -333.6666666667px #7300ff, -220px -270.6666666667px #00ff3c,
      246px -181.6666666667px #e6ff00, 9px 17.3333333333px #7300ff,
      33px -168.6666666667px #00ffe1, -68px -274.6666666667px #00ffbf,
      94px -18.6666666667px #aeff00, 126px -317.6666666667px #009dff,
      -208px -216.6666666667px #ff00e1, 188px -248.6666666667px #006aff,
      -20px -5.6666666667px #0011ff, -159px -384.6666666667px #ff0022,
      -246px -410.6666666667px #ff0040, 92px -118.6666666667px #0099ff,
      193px -81.6666666667px #d9ff00, 67px 71.3333333333px #00aaff,
      113px -77.6666666667px #5900ff, 59px -299.6666666667px #ff0059,
      7px -133.6666666667px #44ff00, 128px -138.6666666667px #002bff,
      -208px -353.6666666667px #00ff1a, 14px 53.3333333333px #62ff00,
      180px -361.6666666667px #004dff, 66px -415.6666666667px #b7ff00,
      61px 63.3333333333px #ff0084, -240px -327.6666666667px #eaff00,
      172px -79.6666666667px #002fff, 226px 31.3333333333px #00ff88,
      56px -221.6666666667px #00ff99, -53px -181.6666666667px #00ff09,
      -99px 6.3333333333px #91ff00, -149px 35.3333333333px #00ff4d,
      -95px -313.6666666667px #ff002f, -90px 77.3333333333px #62ff00,
      -41px -224.6666666667px #ff00c4, -234px -46.6666666667px #73ff00,
      101px -288.6666666667px #bfff00, 122px -298.6666666667px #6a00ff,
      175px 40.3333333333px red, -230px -193.6666666667px #0051ff,
      81px -330.6666666667px #ff9500;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
