div.wrapper-slider {
  background: #f8f8fc;
  border: 1px solid #e1e1ee;
  height: 52px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 0 26px;
  position: relative;
}

div.progress-wrapper {
  position: absolute;
  content: " ";
  top: 2px;
  left: 2px;
  /* background-color: #f45d6f; */
  background-image: linear-gradient(
    to right,
    #df0909,
    #e53005,
    #eb4702,
    #f15901,
    #f66a02,
    #fa7b00,
    #fd8b00,
    #ff9a00,
    #ff9a00,
    #ffae00,
    #ffc200,
    #ffd600,
    #02bf02,
    #02bf02,
    #02bf02
  );
  border-radius: 100px;
  box-sizing: border-box;
}

.rc-slider-mark {
  display: none;
}

.rc-slider-dot {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rc-slider-dot > img {
  width: 28px;
  height: 28px;
}
